{% extends 'base.html'%}
{% load static%}
{% block content%}

<div class="container-fluid" style="margin-top: 4rem;">
	<div class="row">
		<h3 class="text-center">EduBlog <span class="text-danger">RoomateHelp And Accommodation</span> Help</h3> <hr>
		<div class="col-sm-6">
			<h5>Instruction on how to make a most on EduBlog Help Box follow the steps below</h5>
			<p>Step 1: Resigiter as a User, you can skip step 1 if you are a registerd user</p>
			<p> Step 2: Write using the message box bellow.</p>
			<p>Step 3: Make your description or message comprehensive so others can understand.</p>
			<p>Step 4: Click Post Message to post your message.</p>
			<p>Note: The charater limit is 1000</p>
		</div>
		<div class="col-sm-6" style=" border: 0.3rem solid red;">
			<h3>Are You in search of Accommodation????</h3><hr style="border:1px solid black">
			<p>EduBlog has many empty lodges around ifite in and oustside the school with:
				<ul>
					<li>Running water</li>
					<li>Steady Light</li>
					<li>Security</li>
					<li>And very close to school</li>
				</ul>
			</p>
			<p>Contact EduBlog Accomodation management for acccomodation help around Unizik @ 07025065702</p>
			
		</div>
	</div>
	<div class="row bg-info" style="width:40%; margin-left: 3px;">
		<h5 class="text-center">Help Box</h5>
		<div class="jumbotron text-center">
			<form method="POST">
				{% csrf_token%}
				{{form.message}}
				<button type="submit" class="btn btn-sm btn-primary" style="margin-top: 10px;">Post Message</button>
			</form>
		</div>
	</div>
	
</div>
	<div class="jumbotron" style="width: 70%; margin-left: 10px; margin-top: 10px;">
		{% for post in roommate%}
		<div style="padding: 10px;">
			<h4><span class="glyphicon glyphicon-user"></span> {{post.user}}</h4>
			<p>{{post.message}} <span class="badge"> {{post.created|timesince}}</span></p><hr>
			<a href="{% url 'blogs:Edu-help-edit' post.id%}" class="btn btn-primary btn-sm">Edit Post</a>
			<a href="{% url 'blogs:Edu-help-del' post.id%}" class="btn btn-primary btn-sm">Delete Post</a>
		</div>
		{% endfor%}
	</div>

{% endblock%}