{% extends 'base.html'%}



{%load static%}
{%block content%} 
   
        <div class="container-fluid bg-info" style="margin-bottom: 10px;">
          <h2 class="text-center">Trending News</h2>
          <div class="row" style="display: flex;">
             {% for post in post%}
            <div class="card" style="width:400px; margin:10px;margin-bottom: 10px; padding: 10px;" >
              <img class="card-img-top" src="{% static 'blogs/images/cake2.jpg'%}" alt="Card image" width="300" height="200">
              <div class="card-body">
                <h4 class="card-title"><a class="btn btn-info btn-xs disabled">{{post.pub_date|timesince}}</a> | {{post.headline}} </h4>
                <p class="card-text">{{post.content| slice:":200"}}.....</p>
                <a href="{% url 'blogs:post_detil' post.pk%}" class="btn btn-primary">More</a>
              </div>
            </div>
            {% endfor%}
          </div>
        </div>




{%endblock%}