{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% block content%}



		{% if page == 'login' %}
			<div class="container" style="width: 30%;">
				<div class="jumbotron">
				<form method="POST">
					{% csrf_token%}
					
					<div class="mb-3 mt-3">
					   <!--  <label for="username" class="form-label">Username:</label>
					    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"> -->
					    <label class="form-label" >Username:</label> 
						<input type="text" name="username" placeholder="Enter Username" class="form-control">
		  			</div>

					<div class="mb-3">
					    <!-- <label for="pwd" class="form-label">Password:</label>
					    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd"> -->
					    <label class="form-label">Password:</label> 
						<input type="password" name="password" placeholder="Enter Password" class="form-control">
		  			</div>

					<input type="submit" value=" Login"class="btn btn-primary" style="margin-top:10px;" >
					<!-- <button type="submit" class="btn btn-primary" style="margin-top:10px;">Login</button> -->
					
				</form><br><br>
				<p>Haven't signed up yet?</p>
				<a href="{% url 'blogs:register'%}" class="btn btn-primary">Sign up</a>
				</div>	
			</div>

		{%else%}
			<div class="container" style="width: 40%;">
				<div class="jumbotron">
					<form method="POST">
						{% csrf_token%}
						{{form|crispy}}
						<input type="submit" value="Register" class="btn btn-primary">
						
					</form><br>
					<p>Already signed up?</p>
					<a href="{% url 'blogs:login'%}" class="btn btn-primary" style="margin-bottom: 10px;">Login</a>
						
				</div>
			</div>
		{% endif%}

{% endblock%}

