{% extends 'base.html'%}
{% load static%}
{% load crispy_forms_tags%}
{%block content%}

                <div class="container-fluid" style="margin-bottom: 10px;">
                    <div class="row">
                        <div class="col-sm-8 ">
                            <h2>{{detil.headline}}</h2>
                            <div class="jumbotron pre-srollable" style="width:100%"><p>{{detil.content|safe}}</p></div>
                        </div>
                            <div class="col-sm-4 bg-info">
                               <h2>Recent Post</h2>
                            <div class="jumbotron pre-scrollable" style="width:100%">{{detil.content|safe}}</div>
                      </div>
                    </div>
                </div>
                <!-- Comment Form -->
                <div class="container-fluid bg-info" style="margin-top: 10px; width: 50%; margin-left: 0;">
                  <h3>Leave a comment</h3>
                    <div class="jumbotron">
                        <form method="POST">
                            {% csrf_token%}
                            {{form.body}}
                          <button type="submit" class="btn btn-primary btn-sm" style="margin-top:10px;">Post Comment</button>
                      </form>
                    </div>
                  </div>
                  <!-- Displaying Comments -->
                  <div class="container-fluid bg-info" style="width:50%; margin-top: 10px; margin-left: 0; margin-bottom: 10px;">
                        <h4>Comments <span class="badge">{{count}}</span></h4>
                        <div class="jumbotron pre-scrollable" >
                                {% for comment in comments%}
                                    <p><span class="glyphicon glyphicon-user"></span> {{comment.user}}</p>
                                    <p>{{comment.body}} </p>
                                    {% if request.user == comment.user%}
                                      <a href="{% url 'blogs:update_detil' comment.pk %}" class="btn btn-sm  btn-primary">Edit comment</a>
                                       <span><a href="{% url 'blogs:delete_comment' comment.pk%}" class="btn btn-sm btn-primary">Delete</a></span>
                                       <span><a href="{% url 'blogs:comment_reply' comment.pk%}" class="btn btn-sm btn-primary">Reply</a></span>
                                    {% else%}
                                        <span><a href="{% url 'blogs:comment_reply' comment.pk%}" class="btn btn-sm btn-primary">Reply</a> </span>
                                    {% endif%}
                                          <br><br>
                                          <!-- Reply section -->
                                          <div class="row" style="margin-bottom: 10px;">

                                            <h4><a href="{% url 'blogs:comment_reply' comment.pk%}" class="btn btn-primary">View Replies</a></h4>
                                          </div>
                                        <!--End of Reply Section  -->
                                {%empty%} 
                                        <p>Be the first to comment</p>
                                {% endfor%}
                        </div>
              </div>
             
      
{%endblock%}