<!DOCTYPE html>
{%load static%}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'blogs/css/base.css'%}">
</head>
<body>
	<section class="nav_footer">
		<nav class="nav">
			<div class="logo">
				<img src="{% static 'blogs/css/images/er.png'%}">
			</div>

			<div class="links">
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="{% url 'blogs:about'%}">About</a></li>
					{% if request.user.is_authenticated %}
					<li><a  href="{% url 'blogs:logout'%}">Logout</a></li>
					{%else%}
					<li><a href="{% url 'blogs:login'%}">Login</a></li>
					{% endif%}
				</ul>
			</div>
			
		</nav>
		{% if messages %}
			<ul class="messages"> 
				{% for message in messages %} 
				<li>{{ message }}</li>
				{% endfor %} 
			</ul> 
    	 {% endif %}
		{% block content%} {% endblock content%}
		<footer class="footer">
			<h4>About Us</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <br>
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</p>
		</footer>
	</section>
</body>
</html>